<form [formGroup]="formGroup">
  <p-panel header="故障樹分析 (Fault Tree Analysis)" [toggleable]="true">
    <div class="card grid p-fluid" #contentElement>
      <div class="col-12 md:col-3 lg:col-3">
        <label class="required">根事件</label>
        <input
          type="text"
          [ngClass]="{ 'ng-dirty': formControlInvalid('title') }"
          pInputText
          formControlName="title"
        />
        <div *ngIf="formControlInvalid('title')">
          <small
            class="p-error"
            *ngIf="formControl('title').errors?.['required']"
          >
            資料不能為空
          </small>
        </div>
      </div>
    </div>
    <div class="grid p-fluid justify-content-end">
      <div class="col-12 md:col-3 lg:col-2">
        <button type="button" pButton label="儲存" (click)="submit()"></button>
      </div>
      <div class="col-12 md:col-3 lg:col-2">
        <button
          type="button"
          class="p-button-secondary p-button-outlined"
          pButton
          label="取消"
          (click)="cancel()"
        ></button>
      </div>
    </div>
  </p-panel>
</form>
<!-- <div class="card" #contentElement>
  <p-tabMenu
    #detailTabMenuComponent
    [model]="detailTabs"
    styleClass="table-tabmenu"
  >
  </p-tabMenu>
</div> -->
<!-- Fault Tree 編輯器 -->
<p-tree
  [value]="ftaData"
  selectionMode="single"
  [(selection)]="selectedNode"
  [contextMenu]="cm"
>
</p-tree>

<p-contextMenu #cm [model]="menuItems" appendTo="body"> </p-contextMenu>

<hr />

<!-- Fault Tree 展示 -->
<p-organizationChart [value]="ftaData"></p-organizationChart>
