<form [formGroup]="formGroup">
  <p-panel header="簡單 Inline Edit 表格範例">
    <div class="card" #contentElement>
      <div class="grid p-fluid">
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">InputText</label>
          <input type="text" pInputText formControlName="inputTextData" />
          <div *ngIf="formControlInvalid('inputTextData')">
            <small
              class="p-error"
              *ngIf="formControl('inputTextData').errors?.['required']"
            >
              資料不能為空
            </small>
          </div>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">InputNumber (0~100)</label>
          <p-inputNumber
            formControlName="inputNumberData"
            [min]="0"
            [max]="100"
          />
          <div *ngIf="formControlInvalid('inputNumberData')">
            <small
              class="p-error"
              *ngIf="formControl('inputNumberData').errors?.['required']"
            >
              資料不能為空
            </small>
          </div>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">Dropdown</label>
          <p-dropdown
            [options]="dropdownDataList"
            optionLabel="label"
            optionValue="value"
            placeholder="Please select"
            [filter]="true"
            filterBy="value"
            [showClear]="true"
            appendTo="body"
            formControlName="dropdownData"
          >
          </p-dropdown>
          <div *ngIf="formControlInvalid('dropdownData')">
            <small
              class="p-error"
              *ngIf="formControl('dropdownData').errors?.['required']"
            >
              資料不能為空
            </small>
          </div>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">AutoComplete</label>
          <p-autoComplete
            formControlName="autoCompleteData"
            [suggestions]="autoCompleteList"
            [forceSelection]="true"
            [dropdown]="true"
            [completeOnFocus]="true"
            appendTo="body"
            showClear="true"
            (onClear)="clear()"
            styleClass="w-full"
            inputStyleClass="w-full"
            [showEmptyMessage]="true"
            (completeMethod)="completeMethod($event)"
            emptyMessage="查無資料"
          >
            <ng-template let-data pTemplate="item">
              <span style="font-size: 18px"
                >{{ data.label }} ({{ data.value }})
              </span>
            </ng-template>
          </p-autoComplete>
          <!-- 點擊按鈕時，要顯示
           * 值為空但要開啟Dialog 時顯示
           * 點擊查詢但值為空
            -->
          <div *ngIf="formControlInvalid('autoCompleteData')">
            <small class="p-error"> 資料不能為空 </small>
          </div>
        </div>
      </div>
      <div class="grid p-fluid">
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">日期</label>
          <p-calendar
            [showIcon]="true"
            appendTo="body"
            formControlName="calendarData"
            dateFormat="yy-mm-dd"
            dataType="string"
            placeholder="yyyy-MM-dd"
          >
          </p-calendar>
          <div *ngIf="formControlInvalid('calendarData')">
            <small class="p-error"> 資料不能為空 </small>
          </div>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">時間</label>
          <input type="time" pInputText formControlName="inputTime" />
          <div *ngIf="formControlInvalid('inputTime')">
            <small class="p-error"> 資料不能為空 </small>
          </div>
        </div>
      </div>
    </div>
    <div class="grid p-fluid justify-content-end">
      <div class="col-12 md:col-3 lg:col-2">
        <button type="button" pButton label="查詢" (click)="query()"></button>
      </div>
      <div class="col-12 md:col-3 lg:col-2">
        <button
          type="button"
          class="p-button-secondary p-button-outlined"
          pButton
          label="清除"
          (click)="clear()"
        ></button>
      </div>
    </div>
  </p-panel>
</form>

<p-panel [showHeader]="false">
  <!-- 表格 -->
  <p-tabMenu
    #detailTabMenuComponent
    [model]="detailTabs"
    styleClass="table-tabmenu"
  >
  </p-tabMenu>
  <div class="card">
    <p-table
      #dt
      [(selection)]="selectedData"
      [value]="tableData"
      styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped"
      [columns]="cols"
      [rowsPerPageOptions]="[2, 5, 10]"
      [paginator]="true"
      [rows]="10"
      [sortOrder]="-1"
      [scrollable]="true"
      [frozenWidth]="'1rem'"
      dataKey="givenIndex"
      editMode="row"
      [resizableColumns]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <!-- scrollDirection="both"  [resizableColumns]="true"-->

      <!-- 標題 -->
      <ng-template pTemplate="header" #header let-columns>
        <tr>
          <th
            *ngFor="let col of columns"
            [pSortableColumn]="col.field"
            style="
              min-width: 100% !important;
              max-width: 100% !important;
              width: 500px !important;
            "
          >
            <ng-container
              >{{ col.header }}
              <!-- <p-sortIcon [field]="col.field"/> -->
            </ng-container>
          </th>
          <th
            alignFrozen="right"
            pFrozenColumn
            style="
              min-width: 125px !important;
              max-width: 2rem !important;
              width: 200px !important;
            "
          >
            Actions
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        #body
        let-editing="editing"
        let-rowData
        let-columns="columns"
        let-rowIndex="rowIndex"
      >
        <tr [pEditableRow]="rowData">
          <td *ngFor="let col of columns">
            <p-cellEditor>
              <ng-template #input pTemplate="input">
                <ng-container [ngSwitch]="col.type">
                  <!-- inputText -->
                  <input
                    name="{{ col.field }}-{{ rowIndex }}"
                    #ctrl="ngModel"
                    [ngClass]="{ 'ng-invalid': ctrl.invalid && ctrl.touched }"
                    [style]="{
                      'word-wrap': 'break-word',
                      'max-width': '2rem',
                      'min-width': '100%'
                    }"
                    *ngSwitchCase="'inputText'"
                    pInputText
                    type="text"
                    [(ngModel)]="rowData[col.field]"
                    [required]="col.required"
                    [readonly]="col.readOnly"
                  />

                  <!-- textArea -->
                  <textarea
                    name="{{ col.field }}-{{ rowIndex }}"
                    #ctrl="ngModel"
                    [ngClass]="{ 'ng-invalid': ctrl.invalid && ctrl.touched }"
                    [style]="{
                      'word-wrap': 'break-word',
                      'max-width': '2rem',
                      'min-width': '100%'
                    }"
                    *ngSwitchCase="'textArea'"
                    pInputTextarea
                    rows="3"
                    [(ngModel)]="rowData[col.field]"
                    [autoResize]="true"
                    [required]="col.required"
                  ></textarea>

                  <!-- dropdown -->
                  <p-dropdown
                    name="{{ col.field }}-{{ rowIndex }}"
                    #ctrl="ngModel"
                    [ngClass]="{ 'ng-invalid': ctrl.invalid && ctrl.touched }"
                    [style]="{
                      'word-wrap': 'break-word',
                      'max-width': '2rem',
                      'min-width': '100%'
                    }"
                    required
                    *ngSwitchCase="'dropdown'"
                    [(ngModel)]="rowData[col.field]"
                    [options]="loadDropdownData(col)"
                    [filter]="true"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="Please select"
                    appendTo="body"
                    [readonly]="col.readOnly"
                    (onChange)="onDropdownChange($event, col, rowData)"
                    [required]="col.required"
                  ></p-dropdown>

                  <!-- autoComplete -->
                  <p-autoComplete
                    name="{{ col.field }}-{{ rowIndex }}"
                    #ctrl="ngModel"
                    [ngClass]="{ 'ng-invalid': ctrl.invalid && ctrl.touched }"
                    [style]="{
                      'word-wrap': 'break-word',
                      'max-width': '2rem',
                      'min-width': '100%'
                    }"
                    *ngSwitchCase="'autoComplete'"
                    [(ngModel)]="rowData[col.field]"
                    [suggestions]="autoCompleteList"
                    (completeMethod)="completeMethod($event)"
                    [dropdown]="true"
                    [readonly]="col.readOnly"
                    [forceSelection]="true"
                    appendTo="body"
                    styleClass="w-full"
                    inputStyleClass="w-full"
                    [optionLabel]="'label'"
                    [optionValue]="'value'"
                  ></p-autoComplete>

                  <!-- fallback -->
                  <input
                    name="{{ col.field }}-{{ rowIndex }}"
                    #ctrl="ngModel"
                    [ngClass]="{ 'ng-invalid': ctrl.invalid && ctrl.touched }"
                    *ngSwitchDefault
                    [readonly]="col.readOnly"
                    [style]="{
                      'word-wrap': 'break-word',
                      'max-width': '2rem',
                      'min-width': '100%'
                    }"
                    pInputText
                    type="text"
                    [(ngModel)]="rowData[col.field]"
                    required
                  />
                </ng-container>
                <!-- 判斷是否為 required 且 資料是否為空 -->
                <div *ngIf="col.required && !rowData[col.field]">
                  <small class="p-error"> 資料不能為空 </small>
                </div>
              </ng-template>

              <!-- Output -->
              <ng-template #output pTemplate="output">
                {{ rowData[col.field] }}
              </ng-template>
            </p-cellEditor>
          </td>

          <!-- 按鈕區 -->
          <td
            pFrozenColumn
            alignFrozen="right"
            style="
              min-width: 125px !important;
              max-width: 2rem !important;
              width: 200px !important;
            "
          >
            <button
              *ngIf="!editing"
              pButton
              [rounded]="true"
              [text]="true"
              type="button"
              pInitEditableRow
              style="color: #2196f3"
              class="p-button-outlined p-button-secondary"
              icon="pi pi-pencil"
              (click)="clickRowActionMenu(rowData); onEdit(rowData)"
            ></button>
            <button
              *ngIf="!editing"
              pButton
              [rounded]="true"
              [text]="true"
              type="button"
              style="color: #f70202"
              class="p-button-outlined p-button-secondary"
              icon="pi pi-trash"
              (click)="remove(rowData)"
            ></button>
            <div class="flex mb-2 gap-2 justify-content-start">
              <ng-container *ngIf="editing">
                <i
                  class="pi pi-check"
                  style="color: green"
                  pSaveEditableRow
                  (click)="confirm(rowData)"
                ></i>

                <i
                  class="pi pi-times"
                  style="color: red"
                  pCancelEditableRow
                  (click)="cancel(rowData, rowIndex)"
                ></i>
              </ng-container>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-toast position="bottom-right" key="msg" />
</p-panel>
