<form [formGroup]="formGroup">
  <p-panel header="簡單 PickList 範例">
    <div class="card" #contentElement>
      <div class="grid p-fluid">
        <!-- <div class="col-12 md:col-3 lg:col-3">
        <label>Email</label>
        <input type="text" pInputText formControlName="email" />
      </div> -->
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">AutoComplete</label>
          <p-autoComplete
            formControlName="autoCompleteData"
            optionLabel="label"
            [suggestions]="suggestions"
            [forceSelection]="true"
            [dropdown]="true"
            [completeOnFocus]="true"
            appendTo="body"
            showClear="true"
            (onClear)="clear()"
            styleClass="w-full"
            inputStyleClass="w-full"
            [showEmptyMessage]="true"
            (completeMethod)="getAutoComplete($event)"
            emptyMessage="查無資料"
          >
            <ng-template let-data pTemplate="item">
              <span style="font-size: 18px"
                >{{ data.label }} ({{ data.value }})
              </span>
            </ng-template>
          </p-autoComplete>
          <!-- 點擊按鈕時，要顯示
           * 值為空但要開啟Dialog 時顯示
           * 點擊查詢但值為空
            -->
          <div *ngIf="formControlInvalid('autoCompleteData')">
            <small
              class="p-error"
              *ngIf="formControl('autoCompleteData').errors?.['required']"
            >
              資料不能為空
            </small>
          </div>
        </div>
      </div>
      <div class="grid p-fluid justify-content-end">
        <div class="col-12 md:col-3 lg:col-2">
          <button type="button" pButton label="查詢" (click)="query()"></button>
        </div>
        <div class="col-12 md:col-3 lg:col-2">
          <button
            type="button"
            class="p-button-secondary p-button-outlined"
            pButton
            label="清除"
            (click)="clear()"
          ></button>
        </div>
      </div>
    </div>
  </p-panel>
</form>

<!-- 表格 -->
<p-panel [showHeader]="false" *ngIf="showPickList">
  <p-tabMenu
    #detailTabMenuComponent
    [model]="detailTabs"
    styleClass="table-tabmenu"
  >
  </p-tabMenu>
  <!--PickList  -->
  <p-card role="region">
    <div class="card">
      <p-pickList
        [source]="sourceList"
        [target]="targetList"
        filterBy="label"
        [responsive]="true"
        sourceHeader="Available"
        targetHeader="Selected"
        [dragdrop]="true"
        [responsive]="true"
        (onMoveToTarget)="onMoveToTarget($event)"
        (onMoveToSource)="onMoveToSource($event)"
        [sourceStyle]="{ height: '30rem' }"
        [targetStyle]="{ height: '30rem' }"
        sourceFilterPlaceholder="Search by name"
        targetFilterPlaceholder="Search by name"
        breakpoint="1400px"
      >
        <ng-template
          let-data
          pTemplate="item"
          let-selected="selected"
          pTemplate="option"
        >
          <div class="flex flex-wrap p-2 align-items-center gap-3">
            <div class="flex-1 flex flex-col">
              <span
                [ngClass]="{
                        'text-surface-500': !selected,
                        'dark:text-surface-400': !selected,
                        'text-inherit': selected,
                    }"
              >
                {{ data.label }}</span
              >
            </div>
          </div>
        </ng-template>
      </p-pickList>
    </div>
  </p-card>
</p-panel>
